<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firebase Test</title>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
</head>
<body>
    <div>
        Esto es un archivo de prueba
    </div>
</body>



<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyAJYnbmUSdKl4tIVR564AyXAgFBWXonEWE",
        authDomain: "astrid-nodejs.firebaseapp.com",
        databaseURL: "https://astrid-nodejs.firebaseio.com",
        projectId: "astrid-nodejs",
        storageBucket: "astrid-nodejs.appspot.com",
        messagingSenderId: "254678220273",
        appId: "1:254678220273:web:e58eee2c0e51f892"
    };
    firebase.initializeApp(firebaseConfig);
</script>
</html>